div(class='mimicbot-mp')
  div(class='mimicbot-mp__bubble')
    blockquote(class='mimicbot-mp__bubble__triangle-border mimicbot-mp__bubble__triangle-border--right')
      p #{message}
  div(class='mimicbot-mp__mimicbot_avatar')
    div(class='mimicbot-mp__mimicbot_avatar__avatar u_' + uniqueId)
link(rel='stylesheet', href=css)
style(type="text/css").
  .u_#{uniqueId} {
    background-image: url(#{avatar}), url(#{noAvatar});
  }
