div(class='mimicbot_kitten_body')
  div(class='mimicbot_kitten_container')
    p(id='message' class='mimicbot_kitten_message mimicbot_kitten_bubble #{language}') #{message}
  div(class='mimicbot_kitten_outer')
    div(class='mimicbot_kitten_inner')
      div(class='circlify mimicbot_kitten_image u_' + sourceSubscriberId)
link(rel='stylesheet', href=css)
style(type="text/css").
  .mimicbot_kitten_image.u_#{sourceSubscriberId} {
    position: absolute;
    right: 0;
    bottom: 0;
    background:url(#{avatar}), url(#{noAvatar}) no-repeat;
    background-size: 120px 120px;
    width: 120px;
    height: 120px;
    background-color: green;
  }
  .mimicbot_kitten_body {
    background: url(#{background});
  }
